---
import Layout from "@layouts/layout.astro";
import projects from "@data/projects.ts";

export function getStaticPaths() {
    const arr = projects.map((project) => {
        return {
            params: {
                project: project.title.replaceAll(" ", "_").toLowerCase(),
            },
        };
    });
    console.log(arr);
    return arr;
}
---

<Layout>
    <h1>Hello there, {Astro.params.project}!</h1>
</Layout>
