---

---

<div
    class="rounded-full h-full dark:bg-white dark:hover:bg-black
                bg-black hover:bg-white
                active:scale-95 hover: transition-all duration-200 ease-in-out
                hover:cursor-pointer"
    id="theme_toggle_div"
>
    <div class="dark:hidden">
        <img
            alt="Toggle dark theme"
            id="theme_toggle_light"
            class="scale-150 h-full p-2"
            src="icons/moon.svg"
        />
        <img
            alt="Toggle light theme"
            id="theme_toggle_dark"
            class="scale-150 h-full p-2"
            src="icons/moon_dark.svg"
        />
    </div>
    <div class="hidden dark:block">
        <img
            alt="Toggle dark theme"
            id="theme_toggle_light"
            class="scale-150 h-full p-2"
            src="icons/sun.svg"
        />
        <img
            alt="Toggle light theme"
            id="theme_toggle_dark"
            class="scale-150 h-full p-2"
            src="icons/sun_dark.svg"
        />
    </div>
</div>
