---
import Navigation from "@components/navigation.astro";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="height=device-height, 
                      width=device-width, initial-scale=1.0, 
                      minimum-scale=1.0, maximum-scale=1.0"
        />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap"
            rel="stylesheet"
        />
        <title>Year of Code</title>
        <meta
            name="description"
            content="Calcopod's year of coding summarized in one epic website."
        />
    </head>
    <body class="dark overflow-x-hidden">
        <Navigation />
        <div
            class="fixed top-0 left-0 w-full pt-[19rem] h-screen -z-10 dark:bg-black bg-white transition-colors ease-in-out duration-150"
        >
        </div>
        <div class="pt-[calc(2rem+5rem+2rem+10rem)]">
            <slot />
        </div>
    </body>
</html>
