---
import Navigation from "@components/navigation.astro";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Year of Code</title>
    </head>
    <body class="min-h-screen">
        <Navigation />
        <div class="mt-[calc(2rem+5rem+2rem)]">
            <slot />
        </div>
    </body>
</html>
